* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* Exercise 1 */
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Exercise 2 */
.grid {
  display: grid;
  border: 0.5rem solid black;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

/* Exercise 3 */
.grid-items {
  border: 0.1rem solid gray;
  font-size: 2rem;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Exercise 4 */
#box3,
#box7,
#box10,
#box11,
#box12,
#box15 {
  border-left: 0.5rem solid black;
}

/* Exercise 5 */
#box1,
#box2,
#box3,
#box4,
#box5,
#box8,
#box9,
#box10,
#box11 {
  border-bottom: 0.5rem solid black;
}

/* Exercise 6 */
.prompt {
  position: absolute;
  top: 0%;
  left: 0%;
  font-size: 0.8rem;
  padding: 0.2rem;
}

/* Exercise 7 */
.answer {
  width: 50%;
  height: 50%;
  text-align: center;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Exercise 8 */
.special {
  border: none;
  font-size: 2rem;
}

/* Exercise 9 */
@media (min-width: 475px) {
  html {
    font-size: 16px;
  }
}
